<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="First Suite" verbose="1">
    <test name="First Test">
        <classes>
            <class name="com.test.TestCase01">
                <methods>
                    <include name="TC01" />
                    <include name="TC03" />
                    <include name="TC02" />
                </methods>
            </class>
        </classes>
    </test>
</suite>